@model IEnumerable<ComputerGamesShop.Models.Store>

@{
    ViewData["Title"] = "Stores";
}

<div class="stores-list col-md-4">
    <ul class="list-group list-group-flush">
        @foreach (var store in Model)
        {
            <li class="list-group-item">
                <h4 class="store-name">@store.StoreName</h4>
                <br />
                <h6 class="store-location">
                    <span class="store-city">@store.StoreCity</span> -
                    <span class="store-street">@store.StoreStreet</span>
                </h6>
                <span> Tel: @store.StoresPhoneNumber</span>

            </li>
        }
    </ul>

</div>
<div class="google-map col-md-8">

</div>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/stores.js"></script>
<link rel="stylesheet" href="~/css/stores.css" />
<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />