@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <title>@ViewData["Title"] - ComputerGamesShop</title>
    <script language="JavaScript" src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/style.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
</head>
<body>
    <header class="header-section">
        <div class="container col-md-10">
            <div class="user-panel">
                @if (!Globals.isConnectedUser(Context.Session))
                {
                    <a href="/Home/login">Login</a><span>  /  </span><a href="#"> Register </a>
                }
                else
                {
                    <a href="/Home/logout">Logout</a>
                }

            </div>
            <div class="cart-div">
                @if (Globals.isConnectedUser(Context.Session) && !Globals.isManagerConnected(Context.Session))
                {
                    <a href="/orderItems" class="cart-symbol fa fa-shopping-cart" style="color: orange; text-decoration: none"></a>
                }
            </div>
            <nav class="main-menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/games">Games</a></li>
                    <li><a href="/publishers">Publishers</a></li>
                    <li><a href="/stores">Stores</a></li>
                    <li><a href="/statistics">Statistics</a></li>
                    @*@if (Globals.isConnectedUser(Context.Session) && !Globals.isManagerConnected(Context.Session))
                    {
                        <li><i class="fa fa-home" style="color: orange;"></i></li>
                    }*@
                </ul>
            </nav>
        </div>
        <div class="col-md-2" style="float: left; text-align:center;">
            <h4 class="stores-name">CITY OF GAMES</h4>
        </div>
    </header>
    <div class="body-content">
        <div>
            @RenderBody()
        </div>
    </div>
    <div id="footer">
        <footer>
            <div class="container" style="margin-left: 6px;">
                <p class="copyright">&copy; 2019 - ComputerGamesShop</p>
            </div>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
