
@{
    ViewData["Title"] = "Recommendation";
}
<div class="title-container">
    <h2 style="text-align: center; color:orange;">Our Recommendation</h2>
</div>
<div class="text-conetnt" style="padding-top:25px;">
    <aside>
        <canvas id="logo-canvas"></canvas>
    </aside>
    <p>
        FIFA 18 is a football simulation video game in the FIFA series, developed and published by Electronic Arts and was released worldwide on 29 September 2017 for Microsoft Windows, PlayStation 3, PlayStation 4, Xbox 360, Xbox One and Nintendo Switch. It is the 25th instalment in the FIFA series.
    </p>
    <p>
        Portuguese footballer Cristiano Ronaldo appears as the cover athlete of the regular edition.Brazilian footballer Ronaldo appears on the cover of the Icon edition of the game.
    </p>
    <p>
        FIFA 18 is the second instalment in the series to use the Frostbite 3 game engine, although some versions of the game use a different game engine. The PlayStation 4, Microsoft Windows and Xbox One versions include a continuation of "The Journey" a story-based mode that was originally in FIFA 17 entitled "The Journey: Hunter Returns". The PlayStation 3 and Xbox 360 versions, known as FIFA 18: Legacy Edition, do not contain any new gameplay features aside from updated kits and squads.
    </p>
</div>
<div style="display:flex; justify-content: center;">
    <div style="padding-top:25px;">
        <video id="video" width="600" style="border-radius:15px; cursor: pointer;" onclick="playPause()">
            <source src="~/video/fifa18.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
    </div>
</div>

<link rel="stylesheet" href="~/css/recommendations.css" />
<script>
var myVideo = document.getElementById("video");
    function playPause() {
        if (myVideo.paused)
            myVideo.play();
        else
            myVideo.pause();
    }

    var context =  document.getElementById('logo-canvas').getContext("2d");

    var img = new Image();
    img.onload = function () {
        context.drawImage(img, 0, 0);
    }
    img.src = "/images/fifa-18-logo.png";

</script>