
@{
    ViewData["Title"] = "Statistics";
}
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="~/js/statistics.js"></script>

<h2 class="statistics-label">Statistics</h2>
<div class="statistics">
    <script>
        $.ajax({
            type: 'GET',
            url: "/home/statistics",
            success: function (data) {
                gradPie.drawChartBar("bars", data.items[1], 500, 500, "Sales per Publisher");
                gradPie.draw("salespie", colorize(data.items[0]), 800, 200, 160, "Sales per Shop");
            },
            error: function (xhr, status) {
                alert(status);
            }
        });


        var svg = d3.select(".statistics").append("svg").attr("width", 1000).attr("height", 700);

        svg.append("g").attr("id", "salespie");
        svg.append("g").attr("id", "bars");

        function colorize(data) {
            var colors = [
                "#3366CC",
                "#DC3912",
                "#FF9900",
                "#109618",
                "#990099"
            ]
            var i = 0
            return data.map(function (d) {
                i++
                return { label: d.name + ' sales: ' + d.count, value: d.count, color: colors[i % colors.length] };
            });
        }
    </script>
</div>
<link rel="stylesheet" href="~/css/statistics.css" />