.container-games {
    overflow: auto;
}

.games-result-list {
    margin-top: 2rem;
}

.games-result-list li {
    background-color: whitesmoke;
    padding-top: 1.5rem;
    border-top-left-radius: inherit;
    border: groove;
    border-color: aqua;
}