.game {
       display: flex;
       flex-direction: row;
       padding: 0 20px;
       margin: 0 20px 10px 20px;
}

.game-img {
    position: relative;
}

.game-img > img {
    position: absolute;
    height: 1000px;
    z-index: 100;
}

.game .content {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.content .header {
    font-size: 1.2em;
    font-weight: bold;
    font-family: our-font;
    text-shadow: 1px 1px 2px grey;
}

.content .publisher {
    font-style: italic;
}