.store-name {
    font-family: our-font;
    /*text-shadow: v h blur-radius color*/
    text-shadow: -1px -1px #ffcc00, 1px 1px #ff6600, -3px 0 4px #000;
    font-size: 40px;
    font-weight: lighter;
}   