#mapid {
    height: 550px;
    width: 400px;
    border-radius: 10px;
    float: left;
}
.stores-list-div {
    width: 50%;
}

    .stores-list-div ul {
        width: 50%;
        margin-left: 300px;
    }

.form-inline {
    min-height: 650px;
}

.form-group {
    width: 100%;
    margin-top: 20px;
}