html,
body {
    position: relative;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 500;
    color: #131313;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

p {
    font-size: 14px;
    color: #878787;
    line-height: 2;
}

img {
    max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

.header-section {
    background: #131313;
    clear: both;
    overflow: hidden;
    height: 60px;
    padding-top: 10px;
    border-bottom: 1px solid #ffb320;
}

.user-panel {
    float: right;
    font-weight: 500;
    background: #ffb320;
    padding: 8px 28px;
    border-radius: 30px;
}

    .user-panel a {
        font-size: 14px;
        color: #131313;
    }

        .user-panel a:hover {
            color: white;
        }

.cart-div {
    float: right;
    margin-right: 15px;
    text-align: center;
    padding-top: 5px;
}
    .cart-div .cart-symbol {
        color: orange;
        font-size: 32px;
        cursor: pointer;
    }

.main-menu {
    float: right;
    padding-top: 8px;
    margin-right: 120px;
}

    .main-menu ul {
        list-style: none;
    }

        .main-menu ul li {
            display: inline;
        }

            .main-menu ul li a {
                display: inline-block;
                font-size: 16px;
                color: #fff;
                margin-left: 35px;
                font-weight: 500;
                padding: 4px 5px;
            }

                .main-menu ul li a:hover {
                    color: #ffb320;
                }

.main-background {
    background-image: url('../images/hero.jpg');
    height: 865px;
    display: table;
    width: 100%;
}

.hero-image .hs-item {
    height: 865px;
    display: table;
    width: 100%;
}

.hero-image .hs-text {
    display: table-cell;
    vertical-align: middle;
}

    .hero-image .hs-text h2 {
        color: #fff;
        font-weight: 400;
        font-size: 60px;
        margin-bottom: 30px;
        position: relative;
        top: -80px;
        opacity: 1;
    }

        .hero-image .hs-text h2 span {
            color: #ffb320;
        }

    .hero-image .hs-text p {
        color: #fff;
        margin-bottom: 30px;
        position: relative;
        position: relative;
        top: -90px;
        opacity: 1;
    }

    .hero-image .hs-text .site-btn {
        position: relative;
        top: -100px;
        opacity: 1;
    }

.copyright {
    float: left;
    padding-top: 6px;
    font-weight: 500;
    color: #aeaeae;
}