@model IEnumerable<ComputerGamesShop.Models.OrderDetails>

@{
    ViewData["Title"] = "Index";

    double totalPrice = 0;
    foreach (var orderDetails in Model)
    {
        totalPrice += orderDetails.Price;
    }
}

<h3 style="padding-top:15px; text-align:center; color:darkred;">games list - order no. @Model.First().OrderId</h3>
<h4 style="padding-top:15px; text-align:center;"> total price: @totalPrice$</h4>

<div class="row">
    <div class="col-md-4" style="margin:auto;">
        <hr />
        <ul style="list-style-type:none; text-align:center;">
            @foreach (var orderDetails in Model)
            {
                <li>@Html.DisplayFor(modelItem => orderDetails.gameName)</li>
                <br />
            }
        </ul>
        <div style="width:100%; text-align:center;">
            <a asp-action="Index" class="btn btn-light col-md-6">Back to List</a>
        </div>
    </div>
</div>2